<!DOCTYPE html> 
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Notes</title>
</head>

<body>
    <h1>Notes,Title & Tag</h1>

<div>
    <form action="modify" method="put" id="noteform">
        Name: <input type="text" name="name">
       Tag: <input type="text" rows="1" cols="10" name="tag">
       <br><br>
         
        <input type="submit">
      </form>

      <textarea name="content" rows="4" cols="54" form="noteform">Write something...</textarea>
     
        
     

</div>

</body>

</html>